sudo: required
dist: trusty
language: go
go:
- 1.8.x
env:
  global:
  - MONGODB_VERSION=3.2.11
  - ES_V5_URL=http://127.0.0.1:9205
  - ES_V2_URL=http://127.0.0.1:9202
  - ES_V1_URL=http://127.0.0.1:9201
  matrix:
  - TESTDIR=adaptor/elasticsearch/...
  - TESTDIR=adaptor/mongodb/...
  - TESTDIR=adaptor/postgres/...
  - TESTDIR=adaptor/rabbitmq/...
  - TESTDIR=adaptor/rethinkdb/...
  - TESTDIR="adaptor, adaptor/all, adaptor/file/..., client/..., events/..., function/..., log/..., message/..., pipe/..., pipeline/..."
  - TESTDIR=integration_tests/mongo_to_mongo
  - TESTDIR=integration_tests/mongo_to_es
  - TESTDIR=integration_tests/mongo_to_rethink
  - TESTDIR=integration_tests/rethink_to_postgres
before_install:
- "./scripts/before_install.sh"
cache:
  directories:
  - "$HOME/.cache/pip"
before_cache:
- if [[ $TESTDIR != integration* ]]; then rm -f $HOME/.cache/pip/log/debug.log; fi
script:
- "./scripts/tests.sh"
after_success:
- if [[ $TESTDIR != integration* ]]; then bash <(curl -s https://codecov.io/bash); fi
addons:
  postgresql: '9.4'
  rethinkdb: '2.3.5'
before_script:
- "./scripts/before_script.sh"
after_script:
- "./scripts/after_script.sh"
install: true
branches:
  only:
  - master
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
notifications:
  slack:
    secure: R8wvRnq0DcxiFNgUvJ3npnzY2LzU8uVyF8enqfxXNuSR3jRC2tqUosB5Qzb1CCiNicmpEwj3VTcwTozzCwcqckysFek3Pp2/oxYL8tRjqxks1zUeMHVv204l83Js8PAFVhODCQjIxZNQCdUM2fQ9q46MvdY7V8h/wGTbQKq1ZLE=
